<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Username" #username />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" #password />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="login(username.value, password.value)">
    Login
  </button>
</mat-dialog-actions>
