<mat-toolbar color="primary">
  <span>Electric Cars</span>
  <span class="spacer"></span>
  <button mat-button *ngIf="!isAuthenticated" (click)="register()">
    Register
  </button>
  <button mat-button *ngIf="!isAuthenticated" (click)="login()">Login</button>
  <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
</mat-toolbar>
