<mat-card *ngFor="let car of cars">
  <mat-card-header>
    <mat-card-title>{{ car.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="car.image" alt="{{ car.name }}" />
  <mat-card-content>
    <p>{{ car.description }}</p>
  </mat-card-content>
</mat-card>
